---
/* eslint max-lines: 'off' */

import { asset } from '../lib/data.js';

import ColorModeSwitcher from '../components/ColorModeSwitcher.astro';
import SearchInput from '../components/SearchInput.astro';
import { supabase } from '../lib/supabase';
const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");


const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken?.value,
  access_token: accessToken?.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });
}

const email = data?.user?.email;
---

<nav
	class="fixed z-30 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700"
>
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<a href="/" class="flex ml-2 md:mr-24">
					<img
						src={asset('images/logo.svg')}
						class="h-8 mr-3"
						alt="FlowBite Logo"
					/>
					<span
						class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
						>Flavia's Sweets</span
					>
				</a>
			</div>

			<div class="flex items-center">


				<!-- Dropdown menu -->
				<div
					id="dropdownNavbar"
					class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
				>
					<ul
						class="py-2 text-sm text-gray-700 dark:text-gray-400"
						aria-labelledby="dropdownNavbarButton"
					>
						<li>
							<a
								href="#"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>nah</a
							>
						</li>
						<li>
							<a
								href="#"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Settings</a
							>
						</li>
						<li>
							<a
								href="#"
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Earnings</a
							>
						</li>
					</ul>
					<div class="py-2">
						<a
							href="/api/auth/signout"
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
							><form action="/api/auth/signout">
								<button type="submit">Sign out</button>
							</form></a
						>
					</div>
				</div>

				<ColorModeSwitcher />
				</div>
			</div>
		</div>
	</div>
</nav>
